@font-face {
  font-family: '仓耳今楷04-W03'; 
  src: url('/fonts/仓耳今楷04-W03.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: '仓耳今楷04-W05';
  src: url('/fonts/仓耳今楷04-W05.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: '仓耳今楷04-W03', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);
    font-display: swap;
}